.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-link:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-link3 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-link3:hover {
  color: var(--dl-color-scheme-brown);
}








.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-image {
  width: 159px;
  height: 84px;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
}

.hero6-max-width {
  align-self: center;
  padding-top: var(--dl-space-space-fiveunits);
}
.hero6-hero-image {
  width: 507px;
  height: 393px;
  max-width: 550px;
  border-radius: var(--dl-radius-radius-radius4);
}
.hero6-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero6-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero6-text {
  font-size: 35px;
}
.hero6-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero6-button {
  text-decoration: none;
}
@media(max-width: 991px) {
  .hero6-max-width {
    flex-direction: column;
  }
  .hero6-hero-image {
    width: 100%;
    max-width: 100%;
  }
}
@media(max-width: 479px) {
  .hero6-text {
    text-align: center;
  }
  .hero6-text1 {
    text-align: center;
  }
  .hero6-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero6-button {
    width: 100%;
  }
}

.content-list2-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 44px;
}
.content-list2-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list2-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list2-li {
  align-items: flex-start;
}
.content-list2-heading1 {
  align-self: flex-start;
}
.content-list2-content1 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.content-list2-ul1 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
@media(max-width: 767px) {
  .content-list2-ul1 {
    padding-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .content-list2-ul1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}

.features1-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 37px;
  flex-direction: column;
  padding-bottom: 21px;
}
.features1-text {
  align-self: center;
  text-align: center;
}
.features1-max-width {
  gap: var(--dl-space-space-threeunits);
  height: 469px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features1-column {
  gap: var(--dl-space-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-items: flex-start;
  flex-shrink: 0;
}
.features1-content {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features1-row {
  align-items: flex-start;
}
.features1-feature1 {
  flex: 1;
  text-decoration: none;
}
.features1-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.features1-feature1-title {
  height: 21px;
}
.features1-feature2 {
  flex: 1;
  text-decoration: none;
}
.features1-feature2-image {
  width: 335px;
  height: 244px;
}
.features1-content2 {
  align-self: stretch;
  align-items: flex-start;
}
.features1-feature2-title {
  height: 37px;
}
.features1-feature3 {
  flex: 1;
  text-decoration: none;
}
.features1-content3 {
  align-self: stretch;
  align-items: flex-start;
}
.features1-feature3-title {
  height: 16px;
}
.features1-actions {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .features1-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .features1-feature1-image {
    height: 260px;
  }
  .features1-feature2-image {
    height: 260px;
  }
  .features1-feature3-image {
    height: 260px;
  }
}
@media(max-width: 767px) {
  .features1-text {
    text-align: center;
  }
  .features1-column {
    width: 100%;
  }
  .features1-row {
    flex-direction: column;
  }
  .features1-feature1-image {
    width: 100%;
  }
  .features1-feature2 {
    width: auto;
  }
  .features1-feature2-image {
    width: 100%;
  }
  .features1-feature3 {
    width: auto;
  }
  .features1-actions {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .features1-actions {
    width: 100%;
    flex-direction: column;
  }
}

.features13-layout226 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 57px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.features13-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.features13-title1 {
  height: 11px;
  text-align: center;
}
.features13-description1 {
  text-align: center;
}
.features13-icon2 {
  width: 448px;
  height: 345px;
}
.features13-title2 {
  height: 14px;
  text-align: center;
}
.features13-description2 {
  text-align: center;
}
@media(max-width: 991px) {
  .features13-layout226 {
    flex-direction: column;
  }
  .features13-max-width {
    flex-direction: column;
  }
  .features13-content {
    align-items: center;
  }
}
@media(max-width: 479px) {
  .features13-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.testimonial5-container {
  padding-top: 44px;
  padding-bottom: 40px;
}
.testimonial5-max-width {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.testimonial5-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
.testimonial5-slider-slide {
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonial5-container1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonial5-stars {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonial5-avatar {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
.testimonial5-avatar-image {
  width: 56px;
  height: 56px;
}
.testimonial5-avatar-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonial5-text02 {
  font-style: normal;
  font-weight: 600;
}
.testimonial5-slider-slide1 {
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonial5-container2 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonial5-stars1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonial5-avatar1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
.testimonial5-avatar-image1 {
  width: 56px;
  height: 56px;
}
.testimonial5-avatar-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonial5-text05 {
  font-style: normal;
  font-weight: 600;
}
.testimonial5-logo {
  height: 2rem;
}
.testimonial5-slider-slide2 {
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonial5-container3 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonial5-stars2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonial5-avatar2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
.testimonial5-avatar-image2 {
  width: 56px;
  height: 56px;
}
.testimonial5-avatar-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonial5-text08 {
  font-style: normal;
  font-weight: 600;
}
.testimonial5-logo1 {
  height: 2rem;
}
.testimonial5-slider-pagination {
  width: 100%;
  display: block;
}
.testimonial5-slider-button-prev {
  display: block;
}
.testimonial5-slider-button-next {
  display: block;
}
@media(max-width: 767px) {
  .testimonial5-slider-slide {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonial5-avatar {
    flex-direction: column;
  }
  .testimonial5-slider-slide1 {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonial5-avatar1 {
    flex-direction: column;
  }
  .testimonial5-slider-slide2 {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonial5-avatar2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .testimonial5-slider-slide {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial5-avatar-content {
    align-items: center;
    justify-content: center;
  }
  .testimonial5-slider-slide1 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial5-avatar-content1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial5-slider-slide2 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial5-avatar-content2 {
    align-items: center;
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-about {
  height: 476px;
  padding-top: 44px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-scheme-lightbrown);
}
.home-max-width {
  flex-direction: row;
  justify-content: space-between;
}
.home-text-container {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text01 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text02 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-checklist {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-check-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-icon {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text03 {
  font-weight: 500;
}
.home-check-item1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-icon2 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text04 {
  font-weight: 500;
}
.home-check-item2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-icon4 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text05 {
  font-weight: 500;
}
.home-check-item3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-icon6 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text06 {
  font-weight: 500;
}
.home-image {
  flex: 1;
  width: 469px;
  height: 362px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-text07 {
  align-self: center;
  text-align: center;
}
.home-text08 {
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.home-process {
  padding-top: 59px;
  padding-bottom: 56px;
  background-color: var(--dl-color-scheme-lightblue);
}
.home-max-width1 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text09 {
  color: var(--dl-color-scheme-white);
  font-size: 40px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-step {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.home-text10 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.home-container1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text11 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text12 {
  color: var(--dl-color-scheme-white80);
}
.home-text13 {
  font-size: 20px;
}
.home-step1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.home-text15 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.home-container2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text16 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text17 {
  color: var(--dl-color-scheme-white80);
  font-size: 20px;
}
.home-step2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.home-text18 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}
.home-container3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text19 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text20 {
  color: var(--dl-color-scheme-white80);
  font-size: 20px;
}
.home-banner {
  background-color: var(--dl-color-scheme-brown);
}
.home-max-width2 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text21 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text22 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-primary {
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-max-width {
    flex-direction: column;
  }
  .home-text-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-image-container {
    width: 100%;
  }
  .home-image {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-text10 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-text15 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-text18 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-text10 {
    margin-right: var(--dl-space-space-twounits);
  }
  .home-text15 {
    margin-right: var(--dl-space-space-twounits);
  }
  .home-text18 {
    margin-right: var(--dl-space-space-twounits);
  }
}
