<!DOCTYPE html>
<html lang="en">
  <head>
    <title>factory radio car play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: DM Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: undefined;
        letter-spacing: normal;
        line-height: 1.3;
        color: var(--dl-color-scheme-darkblue);
        background-color: var(--dl-color-scheme-white);

        fill: var(--dl-color-scheme-darkblue);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      .services-card:hover > div{
      background-color: #fff
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial5.css" rel="stylesheet" />
      <div class="testimonial5-container thq-section-padding">
        <h1><span>Heading</span></h1>
        <div class="testimonial5-max-width thq-section-max-width">
          <div
            data-thq="slider"
            data-loop="true"
            data-autoplay="true"
            data-navigation="true"
            data-pagination="true"
            data-autoplay-delay="5000"
            data-pause-autoplay-on-mouse-enter="false"
            data-disable-autoplay-on-interaction="false"
            class="testimonial5-slider swiper"
          >
            <div data-thq="slider-wrapper" class="swiper-wrapper">
              <div
                data-thq="slider-slide"
                class="testimonial5-slider-slide swiper-slide"
              >
                <div class="testimonial5-container1">
                  <div class="testimonial5-stars">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path>
                    </svg>
                  </div>
                  <p class="thq-body-large">
                    <span>
                      Working with this team was a game-changer for our
                      business. Their attention to detail and creativity
                      exceeded our expectations.
                    </span>
                  </p>
                  <div class="testimonial5-avatar thq-flex-row">
                    <img
                      alt="Image of John Smith"
                      src="https://images.unsplash.com/photo-1631426964394-06606872d836?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMDY4MTg1OXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial5-avatar-image thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial5-avatar-content">
                      <span class="testimonial5-text02 thq-body-small">
                        <span>John Smith</span>
                      </span>
                      <span class="thq-body-small">
                        <span>CEO at ABC Company</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial5-slider-slide1 swiper-slide"
              >
                <div class="testimonial5-container2">
                  <div class="testimonial5-stars1">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path>
                    </svg>
                  </div>
                  <p class="thq-body-large">
                    <span>
                      The website they designed for us not only looks stunning
                      but also functions seamlessly. We couldn't be happier with
                      the results.
                    </span>
                  </p>
                  <div class="testimonial5-avatar1 thq-flex-row">
                    <img
                      alt="Image of Emily Johnson"
                      src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMDY4MTg1OHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial5-avatar-image1 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial5-avatar-content1">
                      <span class="testimonial5-text05 thq-body-small">
                        <span>Emily Johnson</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Marketing Director at XYZ Inc.</span>
                      </span>
                    </div>
                    <img
                      alt="Company Logo"
                      src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                      class="testimonial5-logo"
                    />
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial5-slider-slide2 swiper-slide"
              >
                <div class="testimonial5-container3">
                  <div class="testimonial5-stars2">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path></svg
                    ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                      ></path>
                    </svg>
                  </div>
                  <p class="thq-body-large">
                    <span>
                      Their branding services helped us establish a strong
                      identity in the market. We saw a significant increase in
                      brand recognition after working with them.
                    </span>
                  </p>
                  <div class="testimonial5-avatar2 thq-flex-row">
                    <img
                      alt="Image of Michael Brown"
                      src="https://images.unsplash.com/photo-1494708001911-679f5d15a946?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMDY4MTg1OHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial5-avatar-image2 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial5-avatar-content2">
                      <span class="testimonial5-text08 thq-body-small">
                        <span>Michael Brown</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Founder of QRS Enterprises</span>
                      </span>
                    </div>
                    <img
                      alt="Company Logo"
                      src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                      class="testimonial5-logo1"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              data-thq="slider-pagination"
              class="testimonial5-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
            >
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
            </div>
            <div
              data-thq="slider-button-prev"
              class="testimonial5-slider-button-prev swiper-button-prev"
            ></div>
            <div
              data-thq="slider-button-next"
              class="testimonial5-slider-button-next swiper-button-next"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script defer="">
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllSliders();
        };

        const listenForUrlChanges = () => {
          let url = location.href;
          document.body.addEventListener(
            "click",
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts();
                  url = location.href;
                }
              });
            },
            true
          );
        };

        const initializeAllSliders = () => {
          const allSliders = document.querySelectorAll('[data-type="slider"]');
          allSliders.forEach((slider) => {
            initializeSlider(slider);
          });
        };

        const initializeSlider = (slider) => {
          const slides = slider.querySelectorAll('[data-type="slide"]');
          const middle = Math.ceil(slides.length / 2);
          let currentSlide = middle;

          const nextSlideBtns = document.querySelectorAll(
            '[data-action="nextSlide"]'
          );
          const previousSlideBtns = document.querySelectorAll(
            '[data-action="previousSlide"]'
          );

          const changeSlide = (slideIndex, action) => {
            currentSlide = slideIndex;

            switch (action) {
              case "next":
                slideIndex === slides.length
                  ? (currentSlide = 1)
                  : currentSlide++;
                break;
              case "previous":
                slideIndex === 1
                  ? (currentSlide = slides.length)
                  : currentSlide--;
            }

            const slide = slides[0];
            if (!slide) {
              console.error("No slides present");
              return;
            }
            const style = window.getComputedStyle(slide);
            slideWidth =
              parseInt(style.width) +
              parseInt(style.marginLeft) +
              parseInt(style.marginRight);
            const transformValue = -slideWidth * (currentSlide - middle);

            slider.style.transform = `translateX(${transformValue}px)`;
          };

          previousSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "previous")
            );
          });

          nextSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "next")
            );
          });
        };

        runAllScripts();
      };
    </script>
  </body>
</html>
